@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  max-width: 95px;
  max-height: 84px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: white;
  width: 100%;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 2px !important;
  border-radius: 0 !important;
  background-color: var(--color-bullet) !important;
  border: none !important;
  position: relative;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-bullet) !important;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-nav-bg);
  transform-origin: left;
  animation: progress 6s linear infinite;
}
