@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  max-width: 95px;
  max-height: 84px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: white;
  width: 100%;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
